improve normalization of BCP47 language tags

### Problem description

Lang tags are case insensitive, but that doesn't mean they should be normalized to lowercase.
A better way is to normalize according to BCP47 (region in uppercase eg `US`, script capitalized eg `Latn`, the rest lowercase).
* This is described at: http://vocab.getty.edu/doc/#Language_Tag_Case
* Posted as https://openrdf.atlassian.net/browse/SES-1659, https://openrdf.atlassian.net/browse/SES-1999 at the older issue tracker
* Treated in #673 #667 at this issue tracker

[normalizeLanguageTag](https://github.com/eclipse/rdf4j/pull/674/files#diff-a8731793b3d6ba80649c94e2dd1eece26b1c4fb6e9097522a8da350e35133177R600) is implemented as follows in #674
```java
	public static String normalizeLanguageTag(String languageTag)
		throws IllformedLocaleException
	{
		return new Locale.Builder().setLanguageTag(languageTag).build().toLanguageTag().intern();
	}
```

However, I'm not so sure this is the right way to implement it:
- https://docs.oracle.com/javase/7/docs/api/java/util/Locale.html "toString" shows some tags that are not BCP47 tags, and extensions (eg `WIN`, `POSIX`) that are not BCP47 conformant. I know that "toString" is not used in the implementation, but I don't know what exactly "toLanguageTag" does.
- https://www.geeksforgeeks.org/locale-tolanguagetag-method-in-java-with-examples/ "toLanguageTag" shows as example invalid tags (eg `germany`)

I have these questions:
- Does `normalizeLanguageTag` convert to lowercase, does it preserve case, or does it do something else?
  - Eg all of `ru-UA-Latn, ru-ua-latn, RU-UA-LATN` should be converted to the same string
  - Preferably `ru-UA-Latn`, but `ru-ua-latn` could also work
- Is it possible to introduce a parser option so that `normalizeLanguageTag` normalizes according to BCP47 (rather than lowercasing)?
- What does it do on valid but unusual tags, such as those listed in http://vocab.getty.edu/doc/#GVP_Language_Tags:
```
x-byzantin-Latn
x-khasian
qqq-002
qqq-142
qqq-ET
grc-Latn-x-liturgic
ber-Latn-x-dialect
fa-Latn-x-middle
zh-Latn-pinyin-x-notone
x-frisian
```

### Preferred solution

RDF parsing (in particular normalizeLanguageTag) should:
- normalize lang tags on parsing, so that they are stored normalized, to avoid the storage of duplicate triples that differ only by lang tag
- normalize according to BCP47 (not simply lowercase), or there should be an option to do so
- handle valid but unusual tags properly

### Are you interested in contributing a solution yourself?

[lang_normalize.pl](https://rt.cpan.org/Public/Ticket/Attachment/1267147/670949/lang_normalize.pl) is a very simple sub that does BCP47 normalization (lcase followed by two regex replaces).

It also provides about 20 more tests (in addition to those above).

Hmz, there is a BCP47 Language Handler and an RFC3066 one, looks like both are lowercasing...

https://rdf4j.org/javadoc/3.7.4/org/eclipse/rdf4j/rio/languages/package-summary.html

A doc issue: `normalizeLanguage` "Normalize both the language tag and the language if appropriate".
What's `language tag` vs `language`?

FYI, 
```
String str = 
			"<http://a.be> <http://a.be/txt> \"foo\"@EN-UK . \n" + 
			"<http://a.be> <http://a.be/txt> \"bar\"@fa-Latn-x-middle . \n" +
			"<http://a.be> <http://a.be/txt> \"baz\"@YADAYADA . ";
		
		InputStream sr = new ByteArrayInputStream(str.getBytes());
		ParserConfig cfg = new ParserConfig();
		cfg.set(BasicParserSettings.NORMALIZE_LANGUAGE_TAGS, true);
		cfg.set(BasicParserSettings.FAIL_ON_UNKNOWN_LANGUAGES, true);		
		cfg.set(BasicParserSettings.LANGUAGE_HANDLERS, List.of(new BCP47LanguageHandler()));
		Model m = Rio.parse(sr, null, RDFFormat.NTRIPLES, cfg, new ValidatingValueFactory(), new ParseErrorLogger());
```

Returns

```
(http://a.be, http://a.be/txt, "foo"@en-UK)
(http://a.be, http://a.be/txt, "bar"@fa-Latn-x-middle)
(http://a.be, http://a.be/txt, "baz"@yadayada)
````


One could argue that `FAIL_ON_UNKNOWN_LANGUAGES` should rather be `FAIL_ON_NO_WELL_FORMED_LANGUAGES`, since it will fail on "foo"@Y but not on "foo"@YADAYADA

Same for `Literals.normalizeLanguageTag(str)`: "EN-UK" gets converted to "en-UK", and while "Y" returns false on `isValidLanguageTag`, "YADAYADA" is considered to be a valid language tag


> I have these questions:
> 
>     * Does `normalizeLanguageTag` convert to lowercase, does it preserve case, or does it do something else?

That depends on the subtag. The main language tag always gets downcased, while the country/region subtag always gets uppercased. For other subtag types there are different rules I believe (e.g. script tag always capitalizes the first letter, I think).

>       
>       * Eg all of `ru-UA-Latn, ru-ua-latn, RU-UA-LATN` should be converted to the same string

Actually none of these are valid BCP47 tags, as "Latn" is not a recognized variant (a variant tag has to be 5 letters or 4 digits). However, `ru-UA-latin`  _is_ accepted as valid. It appears the normalization does not touch the variant subtag: `RU-UA-LATIN` becomes `ru-UA-LATIN`, but `ru-UA-Latin` remains `ru-UA-Latin`. It appears Java treats the variant as case sensitive and does not change that part of the tag.

Btw if this was intended to be a script subtag, then the correct BCP47 tag would be `ru-Latn-ua` (script comes before region), which (regardless of capitilzation of the input) always normalizes to `ru-Latn-UA`.

>     * Is it possible to introduce a parser option so that `normalizeLanguageTag` normalizes according to BCP47 (rather than lowercasing)?

I don't think there is a need for a special parser option as that is what it is _designed_ to do when the BCP47 Language handler is active (which is, by default). 

Note that I think that the variant case sensitivity is not necessarily a bug with respect to the BCP47 spec: as far as I can tell BCP47 has no blanket rule about how variant subtags are to be canonically written. That being said I could see it being useful if we just lowercased them consistently.


> 

I think that perhaps we should look at how verification is implemented in the BCP47LanguageHandler. It just uses `normalizeLanguageTags` to check if the tag is valid, but that method is _known_ to accept tags that are syntactically conform but not actually valid. 

 On reading a bit deeper it turns out that [RFC 5646, section 2.1.1](https://www.rfc-editor.org/rfc/rfc5646.html#section-2.1.1) (part of BCP47) defines a simple set of implementation rules for normalization:

> An implementation can reproduce this format without accessing the  registry as follows.  All subtags, including extension and private use subtags, use lowercase letters with two exceptions: two-letter and four-letter subtags that neither appear at the start of the tag nor occur after singletons.  Such two-letter subtags are all uppercase (as in the tags "en-CA-x-ca" or "sgn-BE-FR") and four- letter subtags are titlecase (as in the tag "az-Latn-x-latn").

I've gone ahead and put up a PR that implements these improvements, feedback welcome.

It's probably also worth pointing out that RDF4J makes a distinction between _language tag_ and _language_. There's no standard implementation of this but the API allows a language handler that verifies/normalizes the actual literal value itself (if its tag is recognised and the handler has support for language normalisation). That hopefully answers your question about the documentation @VladimirAlexiev .

@jeenbroekstra I see your commit uses stuff from my little perl sub, so that's great.
But the comment by @barthanssens https://github.com/eclipse/rdf4j/issues/3695#issuecomment-1050744319 already showed the desired behavior (at least for some cases).
Jeen, does your commit expand on that support or implement a completely new feature?

>> `ru-UA-Latn, ru-ua-latn, RU-UA-LATN` should be converted to the same string
> Actually none of these are valid BCP47 tags, as "Latn" is not a recognized variant (a variant tag has to be 5 letters or 4 digits)

`Latn` is not a variant but a script, and scripts are 4 letters. Your commit kind of refers to that: "four-letter subtags are title case", so I guess it was a simple mistake on your side.

Jeen, could you add the following test cases:
```
AR-Latn                  ar-Latn
AZ-latn-x-LATN           az-Latn-x-latn
Az-latn-X-Latn           az-Latn-x-latn
BER-LATN-x-Dialect       ber-Latn-x-dialect
BNT                      bnt
Egy-Latn                 egy-Latn
en-ca-x-ca               en-CA-x-ca
EN-ca-X-Ca               en-CA-x-ca
En-Ca-X-Ca               en-CA-x-ca
en-GB                    en-GB
EN-UK                    en-UK
EN-US                    en-US
FA-LATN-X-MIDDLE         fa-Latn-x-middle
FA-X-middle              fa-x-middle
Grc-latn-x-liturgic      grc-Latn-x-liturgic
Grc-x-liturgic           grc-x-liturgic
He-Latn                  he-Latn
Ja-Latn                  ja-Latn
Ko-Latn                  ko-Latn
La-x-liturgic            la-x-liturgic
La-x-medieval            la-x-medieval
NN                       nn
QQQ-002                  qqq-002
qqq-142                  qqq-142
QQQ-ET                   qqq-ET
ru-UA-Latn               ru-UA-Latn
ru-ua-latn               ru-UA-Latn
RU-UA-LATN               ru-UA-Latn
SGN-BE-FR                sgn-BE-FR
sgn-be-fr                sgn-BE-FR
UND                      und
X-BYZANTIN-LATN          x-byzantin-Latn
X-Frisian                x-frisian
X-KHASIAN                x-khasian
x-local                  x-local
zh-Hant                  zh-Hant
zh-Latn-pinyin           zh-Latn-pinyin
zh-Latn-pinyin-x-notone  Zh-latn-PINYIN-X-NoTone
zh-Latn-wadegile         zh-Latn-wadegile
```

> @jeenbroekstra I see your commit uses stuff from my little perl sub, so that's great.

The only thing I took from that perl script is a reference to the RFC section that outlines the procedure for syntactical normalization. I based my implementation on the RFC, not the perl code. Though it makes sense of course that in the end we landed on pretty much identical implementations.

> But the comment by @barthanssens [#3695 (comment)](https://github.com/eclipse/rdf4j/issues/3695#issuecomment-1050744319) already showed the desired behavior (at least for some cases). Jeen, does your commit expand on that support or implement a completely new feature?

Bart's comment just showed how normalization works in the current version of RDF4J. My improvement is just that: an improvement. The main difference is that subtags such as variants were not properly downcased in the original algorithm (which relied on the Java Locale support, which is documented to deviate slightly from BCP47 in this regard).

> > > `ru-UA-Latn, ru-ua-latn, RU-UA-LATN` should be converted to the same string
> > > Actually none of these are valid BCP47 tags, as "Latn" is not a recognized variant (a variant tag has to be 5 letters or 4 digits)
> 
> `Latn` is not a variant but a script, and scripts are 4 letters. Your commit kind of refers to that: "four-letter subtags are title case", so I guess it was a simple mistake on your side.

I made no mistake. My point was that if you intended for 'Latn' to be a script tag, it should have come _before_ the region subtag: `ru-Latn-UA`. The tag as you have it is not well-formed.

> Jeen, could you add the following test cases:

I can expand further, that's easy enough to do.

[...]

> ru-UA-Latn               ru-UA-Latn
> ru-ua-latn               ru-UA-Latn
> RU-UA-LATN               ru-UA-Latn

As explained these are incorrect. I will modify these cases to 

```
			{ "ru-Latn-UA", "ru-Latn-UA" },
			{ "ru-Latn-ua", "ru-Latn-UA" },
			{ "RU-LATN-UA", "ru-Latn-UA" },
```

> SGN-BE-FR                sgn-BE-FR
> sgn-be-fr                sgn-BE-FR

These are interesting - it appears the new regex matching approach does not handle these properly. I'll take a closer look and adjust.

> zh-Latn-pinyin-x-notone  Zh-latn-PINYIN-X-NoTone

I assume you meant this one the other way around.



I think I may have inadvertently looked at the perl example more than I thought when first implementing this. I got rid of the regular expression approach for something more robust.

@jeenbroekstra 

- ru-Latn-UA: you're right
- Zh-latn-PINYIN-X-NoTone: right again
- sgn-BE-FR: I got this from somewhere but I'm not sure whether using 2 region codes is legit