encoded vs un-encoded IRIs

Maybe I misunderstand the specs, but it seems to me I should be able to compare encoded vs un-uncoded IRIs as equal, but I cannot. (Tested in GraphDB 8.7.2, RDF4J 2.3.2)

This returns false (tried `sameTerm` and `=`):
```sparql
select * {
  bind (
    sameTerm(<https://en.wikipedia.org/wiki/University_of_Tromsø>,
     <https://en.wikipedia.org/wiki/University_of_Troms%C3%B8>)
        as ?x)
  }
```

This returns different strings:
```sparql
select * {
    bind(str(<https://en.wikipedia.org/wiki/University_of_Tromsø>) as ?s1)
    bind(str(<https://en.wikipedia.org/wiki/University_of_Troms%C3%B8>) as ?s3)
  }
```

What the standards say:
- https://www.w3.org/TR/sparql11-query/#func-str "returns the codepoint representation of an IRI". 
  - Doesn't say that anything needs to be encoded. Since it talks of IRIs, I think unicode chars should be preserved. And the example shows that "@", at least , is preserved.
- https://www.w3.org/TR/rdf-concepts/#section-Graph-URIref "Because of the risk of confusion between RDF URI references that would be equivalent if derefenced, the use of %-escaped characters in RDF URI references is strongly discouraged. See also the URI equivalence issue of the Technical Architecture Group"

See https://phabricator.wikimedia.org/T210738 for a similar issue raised against Wikidata/Blazegraph.

some additional reading: https://tools.ietf.org/html/rfc3987#section-5, https://tools.ietf.org/html/rfc3987#section-5.3.1

"Any kind of IRI comparison REQUIRES that all escapings or encodings in the protocol or format that carries an IRI are resolved."

Hmz, does it also implies that IRI should be unescaped/decoded when created (ValueFactory) / stored ?
Otherwise it seems like a costly operation...

I don't know the structure of the code, but it seems most natural to store them in decoded form.
cc @jeenbroekstra 

Currently away so I can't comment in too much detail, but two points for consideration:

1. there is a difference between codepoint escape sequences (`\uHEX`), which are processed, and %-encodings (which are not, as a rule).
2. processing escapes/encodings is the job of a parser. The rest of the framework (including ValueFactories, Sails, and IRI implementations) is agnostic to them and assumes IRI equality equates to equality of the captured string. 

It may be worth having a closer look again to see if we should make sure that our parsers, at least, convert %-encoded chars to their unencoded form. I am at this point not convinced that that is what the specs require us to do, and it would be a major breaking change. However it's a murky area with a lot of (semi-conflicting) different versions of various specs, so a revisit to clarify is a good idea. 

Thanks for the feedback! 

>  it would be a major breaking change

Why? Can you describe a case where keeping %-encoded is better?
I can only think of one: linking to external systems that themselves keep %-encoded (as Wikidata/Blazegraph, see [phabricator.wikimedia.org/T210738](https://phabricator.wikimedia.org/T210738))

I meant purely in that (right or wrong) this has worked a certain way for a long time and existing systems may show unexpected behaviour if we suddenly change this (certain queries suddenly giving different answers). That's not a reason not to fix (if we decide it is a bug) but it shouldn't be part of a simple patch release. 

In https://www.w3.org/TR/rdf11-concepts/#section-IRIs it says the following:

> IRI equality: Two IRIs are equal if and only if they are equivalent under Simple String Comparison according to section 5.1 of [RFC3987]. Further normalization MUST NOT be performed when comparing IRIs for equality.

This _explicitly_ states that in RDF, IRIs are considered equal _only_ under simple string comparison normalization, and even goes so far to as to explicitly forbid any other normalizations. Normalization of %-encoding is one of these "other" normalizations (see https://tools.ietf.org/html/rfc3987#section-5.3.2.3), and is therefore explicitly ruled out.

This is further enforced by RFC3987 itself, which in section 5.1 states:

> Applications using IRIs as identity tokens with no relationship to a protocol MUST use the Simple String Comparison (see section 5.3.1). All other applications MUST select one of the comparison practices from the Comparison Ladder (see section 5.3 or, after IRI-to-URI conversion, select one of the comparison practices from the URI comparison ladder in [RFC3986], section 6.2)

Clearly, RDF4J (and RDF triplestores in general) fall in the first category: IRIs are considered identity tokens not related to a specific protocol.

The long and short of it is that to my reading of both RFC3987, as well as the RDF 1.1 Recommendation, RDF4J is correct to consider `<https://en.wikipedia.org/wiki/University_of_Tromsø> and `<https://en.wikipedia.org/wiki/University_of_Troms%C3%B8>` non-equivalent.

As a further point of interest, RDF4J _does_ consider `<https://en.wikipedia.org/wiki/University_of_Tromsø> and `<https://en.wikipedia.org/wiki/University_of_Troms\u00F8>` equivalent. This case is described in RFC 3987 section 5.2, which states that any protocol/format-specific encoding (such as SPARQL's hex-encoding) needs to be resolved before doing any comparison. 


To facilitate querying around these kinds of issues, we should perhaps look into adding some additional custom functions for IRI comparison, e.g. a comparison function that explicitly applies percent-encoding normalization, or perhaps a conversion function that decodes percent-encodings.   

I think it'd be better to add some parser flags/modes to specify whether IRIs should be %-decoded upon parsing.