URI comparisons should be case-insensitive on the URI scheme portion

(Migrated from https://openrdf.atlassian.net/browse/SES-649)

This is a problem when you are getting data from different sources which use different ways of formatting their URIs (all of them correct). For example: http://demo.com#abc and HTTP://demo.com#abc are equal. I could live with an option where we can say "strict" uri compliance (+normalization i.e. all lowercase for example) in exchange for a bit of performance loss during upload into the repository. See http://www.ietf.org/rfc/rfc3987.txt Quick summary is (for IRI or URI) - schema (ftp: of http:of mailto:...) is case insensitive - host name (following schema + '//', and occasionally after '@' [mailto://user@host/) is case insensitive - the rest is case sensitive

Per [RDF 1.1 Concepts and Abstract Syntax](https://www.w3.org/TR/rdf11-concepts/#section-IRIs):

> Two IRIs are equal if and only if they are equivalent under Simple String Comparison according to section 5.1 of RFC3987. Further normalization MUST NOT be performed when comparing IRIs for equality.

That suggests that normalising the scheme case here would be a bug. The spec is clear that using an uppercase `HTTP:` isn't recommended ("Interoperability problems can be avoided by minting only IRIs that are normalized "), but it's the producers responsibility to change.

Good find Joseph, thanks. 