RDF Parsers Should Normalize Parsed URIs

(Migrated from https://openrdf.atlassian.net/browse/SES-1969)

Currently the RDF+XML (and maybe turtle) don't normalize parsed URI. This leaves dot segments in the URI, which is unexpected.

The parsers should removes dot segments according to RFC 3986, section 5.2.4 and Syntax-Based Normalization according to RFC 3986, section 6.2.2.
