Send single Accept header with comma-separated values

(migrated from https://openrdf.atlassian.net/browse/SES-2383 ) 

RDF4J's SPARQL client currently sends multiple Accept headers with its query requests, to indicate which response formats it can process. For example:
```

 Accept: text/csv;q=0.8
 Accept: application/sparql-results+xml 
```

While this is [technically correct](http://i1.kym-cdn.com/photos/images/original/000/909/991/48c.jpg) (see [section 4 in RFC2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) for details), it appears many SPARQL endpoint implementations have trouble processing request headers in this form. E.g. in the above example, they will choose to use text/csv (even if they do support application/sparql-results+xml).

To facilate better interoperability, we should instead compose a single accept header, with the supported formats as comma-separated values:

`Accept: text/csv;q=0.8, application/sparql-results+xml`



+1 on this one. We are using wiremock and it also had problems with multiple accept headers - it only takes into account the first instance.

Although this is not a problem with sesame but with naive implementations out there it will also make the request more compact.

https://github.com/tomakehurst/wiremock/issues/334