Overiding BASE URI resolution when reading RDF

RDF4j RDF parsers on syntaxes which support a notion of relative URI's and `BASE`, such as turtle do not allow the application reading the RDF to override the `@base` specified in the file at read time.

I think this is technically correct according to [URI Generic Syntax RFC 3986 section 5.1](https://tools.ietf.org/html/rfc3986#section-5.1), however it frustratingly appears to be the opposite precedence that a reader gets when issuing a `CONSTRUCT` query on a SPARQL endpoint.

With SPARQL the application gets to decide to "rebase URIs" by supplying a new base in the construct statement.  I realise that technically you might view this is as correct as a construct is creating new quads, not reading new quads; however SPARQL does not scope `BASE` solely to the `CONSTRUCT` clause, it also applies to the `WHERE` (read) clause.  i.e. in the query below we construct the triple `<http://base/cons> <http://base/p> <http://base/where>`.  Note how the `?o` does not get based to the endpoints default `BASE` but the one specified in the query.

```sparql
BASE <http://base>

CONSTRUCT { </cons> </p> ?o }
WHERE {
  BIND(</where> AS ?o)
}
```

My point here is to point out a frustrating inconsistency.  Reading a database is often done with a `CONSTRUCT` and the application gets to supply and set the `BASE` parameter itself if it wants, which will override any default `BASE` set in the endpoint.

However when reading a turtle file which supplies a `@base` in the file the `@base` in the file takes precedence over the `baseURI` supplied to `Rio.parse`, which whilst following the letter of the law is the opposite to the way it works with SPARQL constructs.

It would be useful if `Rio` could provide an option to set an `overideBaseURI` which would allow a reading application to rebase URIs without having to manually rewrite them.

Oh, also `JSON-LD` allows setting a BASE to `null`, in which case the URI's should remain relative.  I have tried doing this with other classical Rio parsers, and it seems there is no way to leave the URI's relative without getting an `IllegalArgumentException`.  Again I think this would be useful in some contexts, where you have intermediaries who want to leave setting the final base to a downstream process.